.Login {
  max-width: 50%;
  margin: 0 auto;

  border-radius: 10px;
  /* background: white; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;

  margin-bottom: 20px;
}

.inputGroup label {
  margin-bottom: 8px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 600;
}

.inputGroup input {
  min-height: 30px;
  padding: 5px 20px;

  font-size: 18px;
  border: 1.5px solid orange;
  border-radius: 50px;
}

.Login button {
  width: 100%;
  padding: 12px 0;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  font-family: inherit;
  color: white;
  background-color: rgba(255, 107, 13, 0.85);
  border: none;
  border-radius: 50px;

  transition: all ease-in 150ms;
}

.Login button:hover {
  background-color: rgba(255, 90, 8, 1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

p.error {
  margin-left: 12px;
  font-size: 12px;
}

input.error {
  color: black;
  border: 1px solid red;
}
