.Orders {
  display: flex;
  margin: 0 1rem;
  margin-bottom: 10px;
  padding: 1rem;
  background-color: #ffff;
  height: 85vh;
  border-radius: 10px;
}

.table {
  flex: 2;
  max-width: 600px;
  min-height: 60vh;

  padding: 0 1rem;
  overflow-y: auto;

  border-right: 1px solid orange;
}

.orderForm {
  height: 100px;
}

.addContainer {
  display: flex;
  align-items: center;
}

.addContainer input {
  border: 1px solid orange;
  width: 60px;
  height: 40px;
  padding: 10px;
}

.addOrRemove {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.addOrRemove .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  padding: 5px;
  font-weight: 700;
  color: white;
  background-color: orange;
  border-radius: 50%;
}

.addOrRemove .btn:first-child {
  margin-bottom: 5px;
}

.btn.order {
  text-transform: uppercase;
  font-weight: 700;

  opacity: 0.85;
  transition: all ease-in-out 150ms;
}

.btn.order:hover {
  opacity: 1;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.orderListContainer {
  margin-top: 30px;
  height: 100%;
}

.orderListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: orange;
}

.orderListHeader,
.orderItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;

  text-align: center;
}

.orderItem {
  position: relative;

  margin-bottom: 15px;
  padding: 15px 20px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.orderItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;

  background-color: orange;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.orderItem-actions {
  display: flex;

  margin-left: 20px;
}

.orderItem-actions svg {
  width: 25px;
  height: 25px;
  padding: 5px;
}

.update path {
  margin-right: 10px;
  fill: teal;
}

.validate path {
  fill: yellowgreen;
}

.delete path {
  fill: tomato;
}

.orderItem-actions > div:hover {
  cursor: pointer;
}

.orderItem-quantity input {
  width: fit-content;
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.quantity {
  min-width: 60px;
}

.quantity input {
  width: 40px;
  padding: 5px;
  margin: 5px;
}

.date,
.username {
  min-width: 85px;
}
