@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@400;600;700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: orange;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
  color: orange;
}

.btn {
  padding: 6px 18px;
  margin: 5px;
  color: white;
  border: 1px solid orange;
  background-color: orange;
}

.btn:hover,
svg:hover {
  cursor: pointer;
}

.btn.outline {
  color: orange;
  background-color: transparent;
}

.rounded {
  border-radius: 50px;
}

.faded {
  opacity: 0.7;
  transition: opacity ease-in-out 150ms;
}

.faded:hover {
  opacity: 1;
}

input::placeholder {
  opacity: 0.5;
  font-size: 16px;
}

.success,
.danger {
  position: absolute;
  bottom: 10px;
  left: 50%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;

  transform: translateX(-50%);
}

.success {
  color: green;
}

.danger {
  color: tomato;
}

.error {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
