.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginHeader {
  min-height: 40vh;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 15vh;
  margin: 0 1rem;
}

.appHeader .logo {
  width: 250px;
}
